@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$primary-color: #698891;
$background-color: #f4f8f7;
$text-color: #393939;
$text-colorRed: #c57f6e;
$text-colorGrey: #b6b6b6;
$text-colorWhite: #FFFFFF;
$secondary-color: #9096a5;
$tertiary-color: #bba29c;
$hover-background: #575A5F;
$background-pink: #f8f6f4;
$hr-color: #3939391c;
$brown-color: #BBA29C;

$font-familys: (
    "coming-soon":('Coming Soon', cursive),
    "varela-round":('Varela Round', sans-serif)
);

$font-sizes: (
    'text-13': 13px,
    'text-16': 16px,
    'text-18': 18px,
    'text-26': 26px,
    'text-30': 30px,
    'text-35': 35px,
    'text-40': 40px,
    'text-48': 48px,
    'text-65': 65px,
    'text-80': 80px,
    'text-100': 100px,
    'text-160': 160px,
    'text-175': 175px,
    'text-180': 180px,
    'text-200': 200px,
    'text-250': 250px,
);

$font-weights: (
    '400': 400,
    '500': 500,
    '600': 600,
    '700': 700,
);

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin font-size($size) {
    font-size: map-get($font-sizes, $size);
}

@mixin width-height($width, $height) {
    width: map-get($font-sizes, $width);
    height: map-get($font-sizes, $height);
}

@mixin font-family($family) {
    font-family: map-get($font-familys , $family);
}

@mixin font-weight($weight) {
    font-weight: map-get($font-weights , $weight);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: $background-color;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    @include font-family("coming-soon");
}

p,
span,
a {
    margin: 0;
    padding: 0;
    @include font-family("varela-round");
    text-decoration: none;
}

.page__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1140px;
}

.page__row {
    margin-left: 15px;
    margin-right: 15px;
}

.page__gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 100px 0 100px 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.grid__4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;

    &--contiguous {
        gap: 0px;
    }
}

.grid__2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;

    &--gap {
        width: 100%;
        margin: 0 auto;
    }
}

.grid__3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
}

.grid__6 {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 15px;
}

.card {
    background: $text-colorWhite;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .card__image {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        &::before {
            content: "";
            background: $text-color;
            opacity: .5;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .card__image__title {
            position: absolute;
            color: $text-colorWhite;
            @include font-weight('600');
            bottom: 35px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 30;

            .pages__button.pages__button--transparent {
                color: $text-colorWhite;
            }
        }
    }
}

.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: center;

    img {
        border-radius: 50%;
        width: 60%;
        max-width: 100%;
        height: auto;
    }
}

.card__footer {
    color: $text-colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background: $hover-background;
    }

    &--green {
        background: $primary-color;
    }

    &--grey {
        background: $secondary-color;
    }

    &--pink {
        background: $tertiary-color;
    }
}

// navbar scss start
.navbar__container {
    width: 100%;
    display: flex;
    background: $primary-color;
    height: 110px;
    position: relative;
    border-bottom: 1px solid $text-colorGrey;
}

.responsive__navbar__menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-height: 0px;
    padding: 10px 0px;
    background: $primary-color;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    border-top: 1px solid $text-colorGrey;

    &.active {
        position: absolute;
        opacity: 1;
        top: 100%;
        visibility: visible;
        max-height: 1000px;
        width: 100%;
    }
}

.navbar__row {
    height: 100%;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar__content {
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    @include font-size('text-26');
    color: $text-colorWhite;
    align-self: stretch;
    height: 100%;

    .logo {
        height: inherit;
    }

    h1 {
        opacity: 1;
        display: flex;
        align-items: center;
        visibility: visible;
        transition: all 0.4s ease-in-out;
    }

    &--about {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        align-items: start;
        justify-content: center;
        height: auto;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navbar__items {
    display: flex;
    gap: 25px;
    align-self: stretch;
    padding: 0;
    margin: 0;
    align-items: center;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;

    &--responsive {
        flex-direction: column;
        gap: 25px;

        .navbar__item {
            a {
                width: 100%;
            }
        }
    }

    .navbar__item {
        display: flex;
        align-self: stretch;

        a {
            @include font-size('text-16');
            color: $text-colorWhite;
            transition: all 0.4s ease-in-out;
            display: flex;
            align-items: center;

            &:hover {
                color: $text-color;
            }
        }

        &.active {
            a {
                color: $text-color;
            }
        }
    }
}

.social__media__button {
    @include width-height('text-35', 'text-35');
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $text-colorWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: all 0.4s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }

    &--grey {
        background: $secondary-color;
    }

    &--green {
        background: $primary-color;
    }

    &--pink {
        background: $tertiary-color;
    }

    &--white {
        background: $text-colorWhite;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)
    }

    &--width__80 {
        @include width-height('text-80', 'text-80');
    }

    &--width__160 {
        @include width-height('text-160', 'text-160');
    }

    &--width__180 {
        @include width-height('text-180', 'text-180');
    }

    &--responsive__menu {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease-in-out;
    }
}

// navbar scss end

// home page scss start
.home__header__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 600px;
    padding: 10px;

    background: {
        image: url(../img/cat__background.jpg);
        repeat: no-repeat;
        position: center;
        size: cover;
    }

    &:after {
        content: "";
        background: $text-color;
        width: 100%;
        padding: 10px;
        opacity: 0.6;
        height: 100%;
        top: 0;
        position: absolute;
    }

    &--pink {
        background: #f8f6f4;
        padding: 90px 0;

        &:after {
            content: "";
            background: transparent;
        }
    }

    &--image {
        background: {
            image: url(../img/background.jpg);
            attachment: fixed;
        }

        ;
    }

    &--about {
        background: {
            image: url(../img/about.jpg);
        }

        ;
    }

    &--contact {
        background: {
            image: url(../img/contact.jpg);
            position: 80% 20%;
        }

        ;
    }

    &--message {
        background: {
            image: url(../img/message.jpg);
            attachment: fixed;
        }

        ;
    }

    &--faq__container {
        height: 380px;

        background: {
            image: url(../img/dog-2.jpg);
            attachment: fixed;
        }

        ;
    }

    &--faq {
        height: 450px;

        background: {
            image: url(../img/faq.jpg);
        }

        ;
    }

    &--services {
        height: 450px;

        background: {
            image: url(../img/service.jpg);
        }

        ;
    }
}

.home__header__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: $text-colorWhite;
}

.communication__user {
    img {
        border-radius: 50%;
        @include width-height("text-100", "text-100");
    }

}

.home__title__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    color: $text-colorWhite;
    z-index: 20;
    position: relative;

    .home__title {
        @include font-size('text-65');
        line-height: 1.2;
    }

    .home__comment {
        @include font-size('text-18');
    }
}

.pages__button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: $primary-color;
    color: $text-colorWhite;
    @include font-size('text-18');
    padding: 20px;
    border-radius: 40px;
    outline: none;
    border: transparent;
    cursor: pointer;
    width: auto;
    transition: all 0.4s ease-in-out;
    z-index: 100;

    &:hover {
        background: $hover-background;
    }

    &--pink {
        background: $tertiary-color;
    }

    &--transparent {

        background: transparent;
        color: $primary-color;

        &:hover {
            background: transparent;
            color: $text-color;
            transform: translateY(-8px);
        }
    }

    &--white {
        background: $text-colorWhite;
        color: $primary-color;

        &:hover {
            background: $primary-color;
            color: $text-colorWhite;
        }
    }

    &--send {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.home__page__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: $text-color;
    text-align: center;
    margin: 13px;

    h1 {
        @include font-size('text-48');
    }

    .page__title {
        color: $text-colorWhite;
        z-index: 100;
    }

    .paragraph__explanation {
        text-align: left;

        &--white {
            color: $text-colorWhite;
            z-index: 100;
            text-align: center;
        }
    }

    .pages__button {
        margin: 0 auto;
        margin-top: 10px;
    }

    a {
        color: $text-colorWhite;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: $text-color;
        }
    }
}

.images__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;
    width: auto;
    height: auto;

    img {
        width: 25%;
        height: 80%;
        display: inline-block;

        &:nth-child(2),
        &:nth-child(4) {
            padding: 50px 0px;
        }
    }
}

.button__content {
    position: absolute;
    bottom: 100px;
    right: 150px;

    .home__page__content {
        h2 {
            color: $text-colorWhite;
            @include font-weight('600');
            @include font-size('text-35');
        }

        p {
            color: $text-colorWhite;
            @include font-weight('500');
        }
    }
}

.progress__bar__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    hr {
        width: 100%;
        height: 0.2px;
        background: $hr-color;
        opacity: 0.2;
        border-radius: 20px;
    }
}

.progress__bar__title {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    h3 {
        @include font-size('text-16');
    }

    h4 {
        @include font-size('text-16');
        color: $text-colorGrey;


        &.error {
            color: $text-colorRed;
        }
    }
}

.progress__bar {
    height: 8px;
    border-radius: 20px;
    background: $tertiary-color;
    width: 92%;

    &--green {
        background: $primary-color;
        width: 84%;
    }

    &--grey {
        background: $secondary-color;
        width: 96%;
    }
}

// home page scss end

// footer scss start
.footer__container {
    max-width: 100%;
    width: auto;
    height: 100%;
    padding: 30px;

    background: {
        color: $primary-color;
        image: url("../img/footer.png");
        repeat: no-repeat;
        size: contain;
        position: left;
    }
}

.footer__title {
    color: $text-colorWhite;
}

.footer__search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: $text-colorWhite;
    border-radius: 50px;
    padding: 5px;

    input[type="text"] {
        border: none;
        flex: 1;
        background: transparent;
        outline: none;
        padding: 5px;
        @include font-family('varela-round');
    }

    .pages__button.pages__button--pink {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
}

// footer scss end

// about page scss start
.vet__card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;

    &--pink {
        background: {
            color: $tertiary-color;
            image: url(../img/pat.png);
            repeat: no-repeat;
            size: 30% auto;
        }
    }

    &--grey {
        background: {
            color: $secondary-color;
            image: url(../img/pat.png);
            repeat: no-repeat;
            size: 30% auto;
        }
    }

    &--green {
        background: {
            color: $primary-color;
            image: url(../img/pat.png);
            repeat: no-repeat;
            size: 30% auto;
        }
    }
}

.vet__card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-colorWhite;
    flex-direction: column;
}

.vet__card__footer {
    @include width-height("text-180", "text-180");
    cursor: pointer;
    position: relative;

    img {
        border-radius: 50%;
        transition: all 0.4s ease-in-out;

        &:hover {
            scale: 1.1;

            ~.navbar__logo.navbar__logo--about {
                transition: all 0.4s ease-in-out;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// about page scss end

// contact page scss start
.contact__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: $text-color;
    text-align: left;
    width: 100%;
}

.contact__row {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type="text"],
    textarea {
        outline: none;
        background: transparent;
        border: 1px solid $text-colorGrey;
        border-radius: 50px;
        padding: 12px 25px;
        width: auto;
        @include font-size('text-16');
        @include font-family('coming-soon');
    }

    textarea {
        border-radius: 20px;
        resize: vertical;
    }
}

.contact__image {
    max-width: 100%;
    width: 80%;
}

// contact page scss end

// faq page scss start
.faq__title,
.faq__comment {
    color: $text-colorWhite;
    z-index: 100;
}

.questions__box__content {
    display: flex;
    flex-direction: column;
}

.answer__container {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    padding: 15px 20px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;

    p {
        @include font-size('text-16');
        color: $text-color;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        width: 70%;
        max-height: 1000px;
    }
}

.questions__box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    gap: 30px;
    border-radius: 50px;
    border: 1px solid $primary-color;
    cursor: pointer;

    h2 {
        @include font-size('text-18');
        color: $text-color;
    }

    &.active {
        background: $primary-color;

        h2 {
            color: $text-colorWhite;
        }

    }

    &--pink {
        border: 1px solid $tertiary-color;

        &.active {
            background: $tertiary-color;

            h2 {
                color: $text-colorWhite;
            }
        }
    }

}

.reference__image {
    opacity: .5;
    transition: all 0.4s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

// faq page scss end

// responsive codes start
@media (max-width:575px) {

    .navbar__items {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        display: flex;
        justify-content: center;

        &--responsive {
            opacity: 1;
            visibility: visible;
            height: auto;
            width: 100%;
        }
    }

    .social__media__button {
        &--responsive__menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .navbar__logo {
        h1 {
            visibility: hidden;
            width: 0;
            height: 0;
            opacity: 0;
        }
    }

    .home__title__content {
        width: 100%;
    }

    .grid__2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid__4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid__3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid__6 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .home__page__content {
        h1 {
            @include font-size('text-40')
        }
    }

    .home__header__content {
        width: 100%;
    }

    .contact__image {
        display: none;
    }

    .home__header__container--faq__container {
        height: 100%;
    }
}

@media (min-width:576px) {
    .navbar__items {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        display: flex;
        justify-content: center;

        &--responsive {
            opacity: 1;
            visibility: visible;
            height: auto;
            width: 100%;
        }
    }

    .social__media__button {
        &--responsive__menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .grid__2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid__4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__6 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .home__header__content {
        width: 100%;
    }

    .contact__image {
        display: none;
    }

    .home__header__container--faq__container {
        height: 100%;
    }
}

@media (min-width:768px) {
    .navbar__items {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        display: flex;
        justify-content: center;

        &--responsive {
            opacity: 1;
            visibility: visible;
            height: auto;
            width: 100%;
        }
    }

    .social__media__button {
        &--responsive__menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .grid__4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid__3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__6 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .home__header__content {
        width: 100%;
    }

    .contact__image {
        display: none;
    }

    .home__header__container--faq__container {
        height: 100%;
    }
}

@media (min-width:992px) {
    .navbar__items {
        display: flex;
        opacity: 1;
        visibility: visible;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .social__media__button {
        &--responsive__menu {
            opacity: 0;
            visibility: hidden;
        }
    }

    .responsive__navbar__menu.active {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
    }

    .grid__4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid__6 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .home__header__content {
        width: 100%;
    }

    .contact__image {
        display: flex;
    }

    .home__header__container--faq__container {
        height: 380px;
    }
}

@media (min-width:1200px) {
    .grid__4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .grid__3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .grid__6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .home__header__content {
        width: 60%;
    }

    .contact__image {
        display: flex;
    }
}

// responsive codes end