@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #f4f8f7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Coming Soon", cursive;
}

p,
span,
a {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
}

.page__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 1140px;
}

.page__row {
  margin-left: 15px;
  margin-right: 15px;
}

.page__gap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 100px 0 100px 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.grid__4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.grid__4--contiguous {
  gap: 0px;
}

.grid__2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

.grid__2--gap {
  width: 100%;
  margin: 0 auto;
}

.grid__3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
}

.grid__6 {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 15px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .card__image {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.card .card__image::before {
  content: "";
  background: #393939;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card .card__image .card__image__title {
  position: absolute;
  color: #FFFFFF;
  font-weight: 600;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 30;
}

.card .card__image .card__image__title .pages__button.pages__button--transparent {
  color: #FFFFFF;
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.card__header img {
  border-radius: 50%;
  width: 60%;
  max-width: 100%;
  height: auto;
}

.card__footer {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  gap: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.card__footer:hover {
  background: #575A5F;
}

.card__footer--green {
  background: #698891;
}

.card__footer--grey {
  background: #9096a5;
}

.card__footer--pink {
  background: #bba29c;
}

.navbar__container {
  width: 100%;
  display: flex;
  background: #698891;
  height: 110px;
  position: relative;
  border-bottom: 1px solid #b6b6b6;
}

.responsive__navbar__menu {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-height: 0px;
  padding: 10px 0px;
  background: #698891;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid #b6b6b6;
}

.responsive__navbar__menu.active {
  position: absolute;
  opacity: 1;
  top: 100%;
  visibility: visible;
  max-height: 1000px;
  width: 100%;
}

.navbar__row {
  height: 100%;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar__content {
  display: flex;
  width: 100%;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 26px;
  color: #FFFFFF;
  align-self: stretch;
  height: 100%;
}

.navbar__logo .logo {
  height: inherit;
}

.navbar__logo h1 {
  opacity: 1;
  display: flex;
  align-items: center;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.navbar__logo--about {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  align-items: start;
  justify-content: center;
  height: auto;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar__items {
  display: flex;
  gap: 25px;
  align-self: stretch;
  padding: 0;
  margin: 0;
  align-items: center;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.navbar__items--responsive {
  flex-direction: column;
  gap: 25px;
}

.navbar__items--responsive .navbar__item a {
  width: 100%;
}

.navbar__items .navbar__item {
  display: flex;
  align-self: stretch;
}

.navbar__items .navbar__item a {
  font-size: 16px;
  color: #FFFFFF;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
}

.navbar__items .navbar__item a:hover {
  color: #393939;
}

.navbar__items .navbar__item.active a {
  color: #393939;
}

.social__media__button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__media__button a {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.social__media__button a:hover {
  opacity: 0.5;
}

.social__media__button--grey {
  background: #9096a5;
}

.social__media__button--green {
  background: #698891;
}

.social__media__button--pink {
  background: #bba29c;
}

.social__media__button--white {
  background: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.social__media__button--width__80 {
  width: 80px;
  height: 80px;
}

.social__media__button--width__160 {
  width: 160px;
  height: 160px;
}

.social__media__button--width__180 {
  width: 180px;
  height: 180px;
}

.social__media__button--responsive__menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.home__header__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 600px;
  padding: 10px;
  background-image: url(../img/cat__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home__header__container:after {
  content: "";
  background: #393939;
  width: 100%;
  padding: 10px;
  opacity: 0.6;
  height: 100%;
  top: 0;
  position: absolute;
}

.home__header__container--pink {
  background: #f8f6f4;
  padding: 90px 0;
}

.home__header__container--pink:after {
  content: "";
  background: transparent;
}

.home__header__container--image {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
}

.home__header__container--about {
  background-image: url(../img/about.jpg);
}

.home__header__container--contact {
  background-image: url(../img/contact.jpg);
  background-position: 80% 20%;
}

.home__header__container--message {
  background-image: url(../img/message.jpg);
  background-attachment: fixed;
}

.home__header__container--faq__container {
  height: 380px;
  background-image: url(../img/dog-2.jpg);
  background-attachment: fixed;
}

.home__header__container--faq {
  height: 450px;
  background-image: url(../img/faq.jpg);
}

.home__header__container--services {
  height: 450px;
  background-image: url(../img/service.jpg);
}

.home__header__container--404 {
  height: 100vh;
  background-image: url(../img/404.jpg);
  background-position: 80% 20%;
  background-size: cover;
}

.home__header__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 60%;
  color: #FFFFFF;
}

.communication__user img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.home__title__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  color: #FFFFFF;
  z-index: 20;
  position: relative;
}

.home__title__content .not__found__title {
  font-size: 180px;
}

.home__title__content .not__found__comment {
  font-size: 40px;
}

.home__title__content .home__title {
  font-size: 65px;
  line-height: 1.2;
}

.home__title__content .home__comment {
  font-size: 18px;
}

.home__title__content--not__found {
  width: 100%;
  display: flex;
  align-items: center;
}

.pages__button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background: #698891;
  color: #FFFFFF;
  font-size: 18px;
  padding: 20px;
  border-radius: 40px;
  outline: none;
  border: transparent;
  cursor: pointer;
  width: auto;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.pages__button:hover {
  background: #575A5F;
}

.pages__button--pink {
  background: #bba29c;
}

.pages__button--transparent {
  background: transparent;
  color: #698891;
}

.pages__button--transparent:hover {
  background: transparent;
  color: #393939;
  transform: translateY(-8px);
}

.pages__button--white {
  background: #FFFFFF;
  color: #698891;
}

.pages__button--white:hover {
  background: #698891;
  color: #FFFFFF;
}

.pages__button--send {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home__page__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  color: #393939;
  text-align: center;
  margin: 13px;
}

.home__page__content h1 {
  font-size: 48px;
}

.home__page__content .page__title {
  color: #FFFFFF;
  z-index: 100;
}

.home__page__content .paragraph__explanation {
  text-align: left;
}

.home__page__content .paragraph__explanation--white {
  color: #FFFFFF;
  z-index: 100;
  text-align: center;
}

.home__page__content .pages__button {
  margin: 0 auto;
  margin-top: 10px;
}

.home__page__content a {
  color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}

.home__page__content a:hover {
  color: #393939;
}

.images__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.images__container img {
  width: 25%;
  height: 80%;
  display: inline-block;
}

.images__container img:nth-child(2),
.images__container img:nth-child(4) {
  padding: 50px 0px;
}

.button__content {
  position: absolute;
  bottom: 100px;
  right: 150px;
}

.button__content .home__page__content h2 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 35px;
}

.button__content .home__page__content p {
  color: #FFFFFF;
  font-weight: 500;
}

.progress__bar__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.progress__bar__container hr {
  width: 100%;
  height: 0.2px;
  background: rgba(57, 57, 57, 0.1098039216);
  opacity: 0.2;
  border-radius: 20px;
}

.progress__bar__title {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.progress__bar__title h3 {
  font-size: 16px;
}

.progress__bar__title h4 {
  font-size: 16px;
  color: #b6b6b6;
}

.progress__bar__title h4.error {
  color: #c57f6e;
}

.progress__bar {
  height: 8px;
  border-radius: 20px;
  background: #bba29c;
  width: 92%;
}

.progress__bar--green {
  background: #698891;
  width: 84%;
}

.progress__bar--grey {
  background: #9096a5;
  width: 96%;
}

.footer__container {
  max-width: 100%;
  width: auto;
  height: 100%;
  padding: 30px;
  background-color: #698891;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.footer__title {
  color: #FFFFFF;
}

.footer__search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 5px;
}

.footer__search__container input[type=text] {
  border: none;
  flex: 1;
  background: transparent;
  outline: none;
  padding: 5px;
  font-family: "Varela Round", sans-serif;
}

.footer__search__container .pages__button.pages__button--pink {
  width: 100%;
  padding: 10px;
  margin: 0;
}

.vet__card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}

.vet__card__container--pink {
  background-color: #bba29c;
  background-image: url(../img/pat.png);
  background-repeat: no-repeat;
  background-size: 30% auto;
}

.vet__card__container--grey {
  background-color: #9096a5;
  background-image: url(../img/pat.png);
  background-repeat: no-repeat;
  background-size: 30% auto;
}

.vet__card__container--green {
  background-color: #698891;
  background-image: url(../img/pat.png);
  background-repeat: no-repeat;
  background-size: 30% auto;
}

.vet__card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  flex-direction: column;
}

.vet__card__footer {
  width: 180px;
  height: 180px;
  cursor: pointer;
  position: relative;
}

.vet__card__footer img {
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.vet__card__footer img:hover {
  scale: 1.1;
}

.vet__card__footer img:hover~.navbar__logo.navbar__logo--about {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.contact__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #393939;
  text-align: left;
  width: 100%;
}

.contact__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__row input[type=text],
.contact__row textarea {
  outline: none;
  background: transparent;
  border: 1px solid #b6b6b6;
  border-radius: 50px;
  padding: 12px 25px;
  width: auto;
  font-size: 16px;
  font-family: "Coming Soon", cursive;
}

.contact__row textarea {
  border-radius: 20px;
  resize: vertical;
}

.contact__image {
  max-width: 100%;
  width: 80%;
}

.faq__title,
.faq__comment {
  color: #FFFFFF;
  z-index: 100;
}

.questions__box__content {
  display: flex;
  flex-direction: column;
}

.answer__container {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  max-height: 0px;
  overflow: hidden;
  text-align: center;
  padding: 15px 20px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.answer__container p {
  font-size: 16px;
  color: #393939;
}

.answer__container.active {
  opacity: 1;
  visibility: visible;
  width: 70%;
  max-height: 1000px;
}

.questions__box {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  gap: 30px;
  border-radius: 50px;
  border: 1px solid #698891;
  cursor: pointer;
}

.questions__box h2 {
  font-size: 18px;
  color: #393939;
}

.questions__box.active {
  background: #698891;
}

.questions__box.active h2 {
  color: #FFFFFF;
}

.questions__box--pink {
  border: 1px solid #bba29c;
}

.questions__box--pink.active {
  background: #bba29c;
}

.questions__box--pink.active h2 {
  color: #FFFFFF;
}

.reference__image {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

.reference__image:hover {
  opacity: 1;
}

@media (max-width: 575px) {
  .navbar__items {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
  }

  .navbar__items--responsive {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: 100%;
  }

  .social__media__button--responsive__menu {
    opacity: 1;
    visibility: visible;
  }

  .navbar__logo h1 {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .home__title__content {
    width: 100%;
  }

  .grid__2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid__4 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid__3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid__6 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .home__page__content h1 {
    font-size: 35px;
  }

  .home__header__content {
    width: 100%;
  }

  .contact__image {
    display: none;
  }

  .home__header__container--faq__container {
    height: 100%;
  }
}

@media (min-width: 576px) {
  .navbar__items {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
  }

  .navbar__items--responsive {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: 100%;
  }

  .social__media__button--responsive__menu {
    opacity: 1;
    visibility: visible;
  }

  .grid__2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid__4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__6 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .home__header__content {
    width: 100%;
  }

  .contact__image {
    display: none;
  }

  .home__header__container--faq__container {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .navbar__items {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
  }

  .navbar__items--responsive {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: 100%;
  }

  .social__media__button--responsive__menu {
    opacity: 1;
    visibility: visible;
  }

  .grid__4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid__3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__6 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .home__header__content {
    width: 100%;
  }

  .contact__image {
    display: none;
  }

  .home__header__container--faq__container {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .navbar__items {
    display: flex;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .social__media__button--responsive__menu {
    opacity: 0;
    visibility: hidden;
  }

  .responsive__navbar__menu.active {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }

  .grid__4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid__6 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .home__header__content {
    width: 100%;
  }

  .contact__image {
    display: flex;
  }

  .home__header__container--faq__container {
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .grid__4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid__3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid__6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .home__header__content {
    width: 60%;
  }

  .contact__image {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */